body {
    background-color: rgb(255, 187, 187);
    margin: 0px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgb(70, 54, 54);
    margin: auto;
    height: 50px;
    font-size: 45px;
}

h2 {
    color: white;
    margin: auto;
}

h3 {
    text-decoration: underline;
    text-decoration-color: rgb(70, 54, 54);
    text-decoration-thickness: 2px;
    background-color:  rgb(189, 143, 143);
    max-width: 1920px;
    border-radius: 10px;
    color: rgb(70, 54, 54);
    height: 30px;
    width: 100px;
}

header {
    background: rgb(240,93,93);
    background: linear-gradient(180deg, rgba(240,93,93,1) 0%, rgba(255,196,147,1) 35%, rgba(255,255,255,0) 100%);
    text-align: center;
    margin: 0px;
    height: 250px;
}

body {
    text-align: center;
}

main {
    text-align: center;
}

section {
    text-align: center;
}

img {
    max-width: 650px;
    max-height: 650px;
    align-items: center;
    border-radius: 10px;
}

footer {
    box-sizing: border-box;
    background: rgb(240,93,93);
    background: linear-gradient(0deg, rgba(240,93,93,1) 0%, rgba(255,196,147,1) 35%, rgba(255,255,255,0) 100%);
    text-align: center;
    color: white;
}

.Info {
    background-color: rgb(240, 93, 93);
    border-radius: 20px;
    margin: auto;
    border-spacing: 100px;
    padding: 10px;
    max-width: 500px;
}

.First-Link {
    background-color: rgb(240, 93, 93);
    max-width: 200px;
    border-radius: 15px;
    margin: auto;
    border-spacing: 100px;
    padding: 10px;
    max-height: 25px;
}

.Second-Link {
    background-color: rgb(240, 93, 93);
    max-width: 200px;
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    max-height: 25px;
}
.Info-Link {
}

#Introduction {
    color: blue;
}
