/*
    Farge Palette
*/

    /* CSS Variables */

:root[data-theme="light"] {
        --text: #1f0a06;
        --color-background: #fcf1ef;
        --color-primary: #d54b2f;
        --color-secondary: #e68c47;
        --color-accent: #f8d870;
      }
:root[data-theme="dark"] {
        --text: #f9e5e1;
        --color-background: #110503;
        --color-primary: #cf462a;
        --color-secondary: #b85e19;
        --color-accent: #8d6e07;
      }

* {
        font-family: "Kanit", sans-serif, "Bebas Neue", sans-serif;
        font-weight: 500;
        font-style: normal;
}

.title {
    font-family: "Bebas Neue", sans-serif;
}

.bg-primary {
    background-color: var(--color-background)
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

#Introduction {
    text-align: center;
}
.navbar {
    background-color: #1f0a0600;
    padding: 0px;
}

.navbar > nav {
    background-color: white;
    display: flex;

}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.text-cemter {
    text-align: center;
}

.gap-sm {
    gap: 10px;
}

.gap.md {
    gap: 25px;
}

.gap-lg {
    gap: 40px;
}

body {
    background-color: rgb(255, 187, 187);
    margin: 0px;
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgb(70, 54, 54);
    margin: auto;
    height: 50px;
    font-size: 45px;
}

h2 {
    color: white;
    margin: auto;
}

h3 {
    text-decoration: underline;
    text-decoration-color: rgb(70, 54, 54);
    text-decoration-thickness: 2px;
    background: rgb(240,93,93);
    background: linear-gradient(180deg, rgb(164, 103, 103) 0%, rgb(186, 173, 162) 35%, rgba(232, 135, 135, 0) 100%);
    max-width: 1920px;
    border-radius: 10px;
    color: rgb(70, 54, 54);
    height: 30px;
    width: 100px;
    text-align: center;
}

header {
    background: rgb(240,93,93);
    background: linear-gradient(180deg, rgba(240,93,93,1) 0%, rgba(255,196,147,1) 35%, rgba(255,255,255,0) 100%);
    margin: 0px;
    height: 100px;
    text-align: center;
}

* {
    margin: 0px;
}

body {
    text-align: center;
}

main {
    text-align: center;
}

.project-card {
    text-align: center;
}

img {
    max-width: 650px;
    max-height: 650px;
    align-items: center;
    border-radius: 10px;
}

footer {
    box-sizing: border-box;
    background: rgb(240,93,93);
    background: linear-gradient(0deg, rgb(255, 128, 128) 0%,rgb(250, 189, 189)35%, rgba(255,255,255,0) 100%);
    text-align: center;
    color: rgb(62, 62, 62);
}

.mini-page {
    background-color: #fffafa;
    display: grid;
    grid-template-areas:
        "nav nav"
        "aside main"
        "footer footer";
    grid-template-columns:
    grid-template-rows:
}

.mini-page > header {
    grid-area: nav;
}

.mini-page > footer {
    grid-area: footer;
}

.mini-page > aside {
    grid-area: aside;
}

.mini-page > main {
    grid-area: main;
}

.Info {
    background-color: rgb(240, 93, 93);
    border-radius: 20px;
    margin: auto;
    border-spacing: 100px;
    padding: 10px;
    max-width: 500px;
}

.First-Link {
    background-color: rgb(240, 93, 93);
    border-radius: 15px;
    margin: auto;
    border-spacing: 100px;
    padding: 10px;
    max-height: 25px;
}

.Second-Link {
    background-color: rgb(240, 93, 93);
    max-width: 200px;
    border-radius: 15px;
    margin: auto;
    padding: 10px;
    max-height: 25px;
}
.Info-Link {
}

#Introduction {
    color: blue;
}
